body{
	background-color: #C0C0C0;
}

h1{
	font-family: 'Anton', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#navi {
	width: 700px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#navi ul{
    list-style: none;
    padding:0px;
    margin:0px;
    line-height: 30px
}
#navi li {
	padding-left: 20px;
	display: inline;
	vertical-align: middle;
	list-style-type: none;
}

#navi a{
	vertical-align: middle;
	display: inline-block;
    text-decoration: none;
    text-align: center;
}

#background {
	background-color: white;
	width: 700px;
	border-radius: 10px;
	padding: 20px;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}


#header, #qna, #about{
	width: 700px;
	text-align: center;
	margin-left: auto ;
	margin-right: auto ;
}

#footer {
	width: 100%;
	text-align: center;
	bottom: 0px;

}