/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

body{
	background-color: #adebad;
}

h1{
	font-family: 'Anton', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#navi_2 {
	text-align: center;
	padding-top: 5px;
}
#navi_2 li{
	display: inline;
	width: 50px;
	margin: 5px;
	padding: 10px 15px;
	background: #FFF;
	color: #000;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#navi_2 li:hover, #navi_2 li:focus{
	background: #adebad;
	border: solid 1px #2A4E77;
    text-decoration: none;
}

#navi_2 li:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #adebad;
    border: solid 1px #203E5F;
}

#navi_2 a {
	text-decoration: none;
}

#navi {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#navi ul{
    list-style: none;
    padding:0px;
    margin:0px;
}
#navi li {
	list-style-type: none;
}

#navi a{
    text-decoration: none;
}

#background {
	background-color: white;
	display: block;
	width: 450px;
	float: left;
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #333333;
}

#header-1 {
	width: 450px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#header-2, #qna, #about{
	width: 400px;
	text-align: center;
	margin-left: auto ;
	margin-right: auto ;
}

#footer {
	width: 100%;
	margin: 0 auto;
	height: 35px;
}
#footer ul{
	width: 100%;
}

#footer li{
	display: block;
	float: left;
	width: 33px;
	text-align: center;
}



.facebook {
	width: 32px;
	height: 32px;
	display: block;
	background-image: url(../images/off_facebook_32.png);
}

.facebook:hover {
	background-image: url(../images/on_facebook_32.png);
}

.twitter {
	width: 32px;
	height: 32px;
	display: block;
	background-image: url(../images/off_twitter_32.png);
}

.twitter:hover {
	background-image: url(../images/on_twitter_32.png);
}

.linkedin {
	width: 32px;
	height: 32px;
	display: block;
	background-image: url(../images/off_linkedin_32.png);
}

.linkedin:hover {
	background-image: url(../images/on_linkedin_32.png);
}

.github {
	width: 32px;
	height: 32px;
	display: block;
	background-image: url(../images/off_github_32.png);
}

.github:hover {
	background-image: url(../images/on_github_32.png);
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}