* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
	#navi {
	width: 450px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	}

	#navi ul{
    list-style: none;
    padding:0px;
    margin:0px;
    line-height: 30px
	}

	#navi li {
	padding-left: 20px;
	display: inline;
	vertical-align: middle;
	list-style-type: none;
	}

	#navi a{
	vertical-align: middle;
	display: inline-block;
    text-decoration: none;
    text-align: center;
	}
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
float: left;
padding: 15px;
}

.row::after {
content: "";
clear: both;
display: block;
}

body{
	background-color: #adebad;
}

h1{
	font-family: 'Anton', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#navi {
	width: 200px;
	margin-left: 10px;
	margin-right: auto;
}

#navi ul{
    list-style: none;
    padding:0px;
    margin:0px;
}
#navi li {
	list-style-type: none;
}

#navi a{
    text-decoration: none;
}

#navi-background {
	background-color: white;
	width: 210px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 5px 5px 5px #333333;
}

#background {
	background-color: white;
	width: 600px;
	display: block;
	float: left;
	border-radius: 10px;
	padding-bottom: 10px;
	box-shadow: 5px 5px 5px #333333;
}

#header-1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#header-2, #qna, #about{
	width: 500px;
	text-align: center;
	margin-left: auto ;
	margin-right: auto ;
}

#footer {
	width: 100%;
	margin: 0 auto;
	height: 35px;
}
#footer ul{
	width: 100%;
}

#footer li{
	display: block;
	float: left;
	width: 33px;
	text-align: center;
}



.facebook {
	width: 32px;
	height: 32px;
	display: block;
	background-image: url(../images/off_facebook_32.png);
}

.facebook:hover {
	background-image: url(../images/on_facebook_32.png);
}

.twitter {
	width: 32px;
	height: 32px;
	display: block;
	background-image: url(../images/off_twitter_32.png);
}

.twitter:hover {
	background-image: url(../images/on_twitter_32.png);
}

.linkedin {
	width: 32px;
	height: 32px;
	display: block;
	background-image: url(../images/off_linkedin_32.png);
}

.linkedin:hover {
	background-image: url(../images/on_linkedin_32.png);
}

.github {
	width: 32px;
	height: 32px;
	display: block;
	background-image: url(../images/off_github_32.png);
}

.github:hover {
	background-image: url(../images/on_github_32.png);
}





